.design-doc-markdown-content {
  padding: 1rem;
  color: var(--text-color);
}

.design-doc-markdown-content pre {
  background-color: #222222;
  padding: 1rem;
  border-radius: 4px;
  overflow: auto;
}

.design-doc-markdown-content code {
  background-color: #222222;
  padding: 0.2rem;
  border-radius: 2px;
}
